body {
  background: #111;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, .footer {
  background-color: #f39bb3;
}

.footer {
  margin-top: auto;
}

.iconfooters {
  margin: 2px;
  width: 25px;
  height: 25px;
}

/*tour*/
.contenido .contconcert {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.cards {
  display: flex;
  border-radius: 5px;
  min-height: 250px;
  min-width: 330px;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}
@media screen and (min-width: 480px) {
  .cards {
    min-height: 300px;
    min-width: 450px;
  }
}
.cards:hover .tourport {
  opacity: 1;
  color: #f39bb3;
}
.cards .tourport {
  display: flex;
  border-radius: 5px;
  min-height: 250px;
  min-width: 330px;
  font-weight: bold;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0.9;
  transition: 0.5s;
}
@media screen and (min-width: 480px) {
  .cards .tourport {
    min-height: 300px;
    min-width: 450px;
  }
}
.cards h3 p {
  color: white;
  justify-content: end;
}

/*discografia*/
.cardd {
  display: flex;
  border-radius: 10px;
  min-height: 350px;
  min-width: 350px;
  font-weight: bold;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.cardd:hover .album {
  opacity: 1;
}
.cardd .album {
  display: flex;
  border-radius: 10px;
  min-height: 350px;
  min-width: 350px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.5s;
}
.cardd h1 li {
  color: white !important;
  text-decoration: none;
}

.navbar-brand {
  font-size: 1.5rem;
  font-family: Helvetica, sans-serif;
}

/*contacto*/
.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  background-color: #fbfbfb;
}
@media screen and (max-width: 480px) {
  .contact_form {
    width: 340px;
  }
}
.contact_form input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #f39bb3;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 480px) {
  .contact_form input {
    width: 300px;
  }
}
.contact_form textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #f39bb3;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}
@media screen and (max-width: 480px) {
  .contact_form textarea {
    width: 300px;
  }
}

label {
  display: block;
  float: center;
}

.botonform {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #f39bb3;
  border-color: #f39bb3;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}
.botonform p {
  color: black;
}
@media screen and (max-width: 480px) {
  .botonform {
    width: 300px;
  }
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid black;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid black;
}

.iframeindex {
  width: 570px;
  height: 350px;
  margin-top: 2rem;
}
@media screen and (max-width: 480px) {
  .iframeindex {
    width: 310px;
    height: 210px;
  }
}

@media screen and (max-width: 480px) {
  .fondobio {
    width: 340px;
    height: 240px;
  }
}

@media screen and (max-width: 480px) {
  .fondobio {
    width: 340px;
    height: 240px;
  }
}

/*# sourceMappingURL=styles.css.map */
